<h1><b>Questions of {{qTitle}} </b></h1>
<div class="bootstrap-wrapper">
    <div class="text-center">
        <button  mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+qId+'/'+qTitle">+Add Questions</button>
    </div>
    <div class="col-md-12">

        <mat-card *ngFor="let q of Questions let i =index" style="margin-top: 2%;">
            <mat-card-content>

                <p>
                    <b> Q. {{i+1}})</b> <span class="ml2" style="margin-left: 1%;" [innerHTML]="q.content"></span>
                </p>



                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>1.</b> {{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>2.</b> {{q.option2}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p><b>3.</b> {{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p><b>4.</b> {{q.option4}}</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <p><b>answer :{{q.answer}}</b></p>
                </div>

                <mat-card-actions>
                    <button mat-raised-button color="accent" style="margin-right: 0.5%;" (click)="deletequestion(q.quesId)">Delete</button>
                    <button mat-raised-button color="primary">Update</button>
             
                  </mat-card-actions>

            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- 
{{Questions|json}} -->

<body>
 
    <hr class="decorative-line">

</body>
