<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Exam Portal</title>

</head>
<body>

    <header>
        <div class="container margin-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Icons8_flat_reading.svg/768px-Icons8_flat_reading.svg.png" alt="" width="200" height="200">
        </div>
        <h1>Welcome to Exam Portal</h1>
        <h2>Your Gateway to Success</h2>
    </header>
   
</body>
</html>
